@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Sube un poco */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición original */
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
